.livro{
   display: flex;
   gap: 30px;
   margin: 25px;
   border-radius: 12px; 
   border: 1px solid #606060;
}

.livro img{
    width: 265px;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 10px 25px #00000080;
}

.info{
    padding: 16px 18px;
    display: flex;
    flex-direction: column;
}