* {
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EAECE7;
    display: flex;
}

section {
    padding: 30px 80px;
}

#btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 15px;
    font-size: 18px;
    background-color: #2D1E6A;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

h2 {
    color: #0a2c66;
    margin-bottom: 20px;
}

.titulo {
    font-size: 27px;
    color: #2c2c6c;
    margin-bottom: 20px;
}

.btn-adicionar {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #2c2c6c;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
}

.btn-remover {
    padding: 6px 12px;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    text-decoration: none;
    cursor: pointer;
}

.tabela {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.tabela thead {
    background-color: #2c2c6c;
    color: white;
}

.tabela thead th {
    padding: 12px 15px;
    text-align: left;
    font-size: 18px;
}

.tabela tbody tr {
    border-bottom: 1px solid #eee;
}

.tabela tbody td {
    padding: 12px 15px;
    font-size: 15px;
}

.main-content {
    margin-left: 220px;
    padding: 30px 40px;
    width: 100%;
}

.main-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background: white;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    margin-bottom: 8px;
    font-weight: 600;
    color: black;
    font-size: 15px;
}

.campo input {
    padding: 12px 15px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-size: 15px;
}

.campo select {
    padding: 12px 15px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    font-size: 15px;
}

form a {
    text-align: center;
    text-decoration: none;
    color: #241855;
    font-weight: 600;
    margin-top: 5px;
}