.main {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

.titulo {
    text-align: center;
    color: #2D1E6A;
    margin-bottom: 30px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.menu-card {
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: #2D1E6A;
    transition: 0.3s;
}

.menu-card i {
    font-size: 30px;
    margin-bottom: 10px;
}
