<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Promoções - Biblioteca</title>
        <link rel="icon" type="image/png" href="../../images/Logo.png">
        <link rel="stylesheet" href="../../static/css/cliente/base.css">
        <link rel="stylesheet" href="../../static/css/cliente/promocoes.css">
        <link rel="stylesheet" href="../../static/css/cliente/footer.css">
        <script src="https://kit.fontawesome.com/35842701b4.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <header class="header">
            <nav class="navbar">
                <div class="logo">
                    <a href="index.html">
                        <img src="../../images/Logo.png" alt="Logo">
                    </a>
                </div>

                <div class="menu">
                    <ul>
                        <li><a href="index.html">Início</a></li>
                        <li><a href="carrinho.html">Carrinho</a></li>
                        <li><a href="favoritos.html">Favoritos</a></li>
                        <li><a href="promocoes.html" class="ativo">Promoções</a></li>
                        <li><a href="contactos.html">Contacta-nos</a></li>
                        <li class="user-menu">
                            <a href="#" class="user-icon">
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <div class="sair-cliente">
                                <p class="user-name">Nome</p>
                                <a href="../../index.html">Sair da conta</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <section class="promocoes">
            <h1 class="titulo"><i class="fa-solid fa-percent"></i> Promoções</h1>
            <p class="descricao">Aproveita os melhores livros com desconto</p>

            <div class="area-promocoes">

                <div class="card">
                    <img src="../../images/capas/Calma, calma....jpg" alt="Livro">
                    <h3>Calma, calma...</h3>
                    <p class="preco-antigo">2000 Escudos</p>
                    <p class="preco-atual">1400 Escudos</p>
                    <span class="desconto">-30%</span>
                    <button>Adicionar ao carrinho</button>
                </div>

                <div class="card">
                    <img src="../../images/capas/O Extraterreste Genio.jpg" alt="Livro">
                    <h3>O Extraterreste Genio</h3>
                    <p class="preco-antigo">1800 Escudos</p>
                    <p class="preco-atual">1440 Escudos</p>
                    <span class="desconto">-20%</span>
                    <button>Adicionar ao carrinho</button>
                </div>

                <div class="card">
                    <img src="../../images/capas/O Principe.webp" alt="Livro">
                    <h3>O Principe</h3>
                    <p class="preco-antigo">2200 Escudos</p>
                    <p class="preco-atual">1870 Escudos</p>
                    <span class="desconto">-15%</span>
                    <button>Adicionar ao carrinho</button>
                </div>

                <div class="card">
                    <img src="../../images/capas/The Special One.jpg" alt="Livro">
                    <h3>The Special One</h3>
                    <p class="preco-antigo">3000 Escudos</p>
                    <p class="preco-atual">2550 Escudos</p>
                    <span class="desconto">-15%</span>
                    <button>Adicionar ao carrinho</button>
                </div>
            </div>
        </section>

        <footer class="footer">
            <div class="footer-container">
                <div class="imagem-footer">
                    <a href="index.html">
                        <img src="../../images/Logo.png" alt="Logo">
                    </a>
                    <p>BIBLIOTECA DO MINDELO</p>
                </div>

                <div class="info-uteis">
                    <h4>INFORMAÇÕES ÚTEIS</h4>
                    <ul>
                        <li><a href="favoritos.html">Meus Livros Favoritos</a></li>
                        <li><a href="promocoes.html">Promoções</a></li>
                        <li><a href="carrinho.html">Meu Carrinho</a></li>
                        <li><a href="perguntas.html">Perguntas frequentes (FAQ)</a></li>
                    </ul>
                </div>

                <div class="endereco-contactos">
                    <h4>ENDEREÇO & CONTACTOS</h4>
                    <p><a href="https://www.google.com/maps/place/Biblioteca+Municipal+do+Mindelo/@16.8866176,-24.9914655,17z/data=!3m1!4b1!4m6!3m5!1s0x94f1ea8cac2a09f:0xa657bfc8b3d856e2!8m2!3d16.8866125!4d-24.9888906!16s%2Fg%2F1pp2tw4r8?authuser=0&entry=ttu&g_ep=EgoyMDI2MDQyNy4wIKXMDSoASAFQAw%3D%3D" target="_blank">Biblioteca Municipal do Mindelo</a></p>
                    <p><a href="tel:9959295">+9959295</a></p>
                    <p><a href="mailto:biblioteca@gmail.com">biblioteca@gmail.com</a></p>   
                </div>

                <div class="redes-container">
                    <h4>SIGA A BIBLIOTECA NAS REDES SOCIAIS</h4>
                    <div class="redes-sociais">
                        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                    </div>
                </div>

            </div>

            <div class="footer-bottom">
                <p>© 2026 BIBLIOTECA DO MINDELO - Todos os direitos reservados</p>
                <a href="politicas.html">Políticas e Privacidade</a>
            </div>

        </footer>

        <button id="btn-topo">↑</button>
        <script src="../../static/javascript/botao.js"></script>
    </body>
</html>