.conteudo {
    max-width: 1500px;
    padding-top: 10px;
}

.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.catalogo-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 10px darkgray;
}

.catalogo-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.catalogo-item h3 {
    padding: 15px;
    color: #2D1E6A;
    font-size: 18px;
}

.catalogo-item p {
    padding: 0 20px 20px;
    color: #2D1E6A;
    text-align: justify;
    line-height: 1.6;
}