.promocoes {
    text-align: center;
}

.area-promocoes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
    justify-items: center;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 320px;
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 6px;
}

.card h3 {
    margin: 10px 0;
    color: #2D1E6A;
}

.card p {
    margin: 5px 0;
    color: #2D1E6A;
}

.preco-antigo {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
    text-align: center;
}

.preco-atual {
    font-size: 18px;
    font-weight: bold;
    color: #2D1E6A;
    text-align: center;
}

.desconto {
    display: inline-block;
    margin-top: 5px;
    background-color: #ffc107;
    color: black;
    font-size: 13px;
    padding: 3px 6px;
    border-radius: 4px;
    font-weight: bold;
}

.card button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #2D1E6A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}