<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Ficção - Biblioteca</title>
        <link rel="icon" type="image/png" href="/images/Logo.png">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/catalogos/ficcao.css">
        <link rel="stylesheet" href="/static/css/footer.css">
        <script src="https://kit.fontawesome.com/35842701b4.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <header class="header">
            <nav class="navbar">
                <div class="logo">
                    <a href="/templates/index.html">
                        <img src="/images/Logo.png" alt="Logo">
                    </a>
                </div>

                <div class="menu">
                    <ul>
                        <li><a href="/templates/index.html" class="ativo">Início</a></li>
                        <li><a href="/templates/carrinho.html">Carrinho</a></li>
                        <li><a href="/templates/favoritos.html">Favoritos</a></li>
                        <li><a href="/templates/promocoes.html">Promoções</a></li>
                        <li><a href="/templates/contactos.html">Contacta-nos</a></li>
                        <li><a href="/templates/login.html" class="btn-login">Login</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="pesquisar">
            <input type="text" placeholder="Procurar Catalogos">
            <button class="procurar">Procurar</button>
        </div>

        <div class="livro">
            <img src="/images/ficcao.jpg" alt="Livro 1">
            <div class="info">
                <h2>Livro 1</h2>
                <p>Breve descricao</p>
            </div>
        </div>

        <div class="livro">
            <img src="/images/ficcao.jpg" alt="Livro 2">
            <div class="info">
                <h2>Livro 2</h2>
                <p>Breve descricao</p>
            </div>
        </div>

    </body>
</html>