/* Estilo do body */
body {
    margin: 0;
    padding: 0;
    padding-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EAECE7;
}

/*Padding nas seccoes*/
section {
    padding: 30px 80px;
}

/*Estilo do header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

/*Estilo do navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 60px;
    background-color: #2D1E6A;
}

/*Estilo do logo */
.logo img {
    width: 60px;
    height: auto;
    border-radius: 25%;
}

/* Estilo do menu */
.menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilo dos links do menu */
.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: 0.3s;
}

/* Efeito hover nos links do menu */
.menu ul li a:hover {
    color: #ffc107;
}

/* Estilo do link ativo no menu */
.menu ul li a.ativo {
    color: #ffc107;
}

/* Efeito sublinhado nos links do menu */
.menu ul li a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #ffc107;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

/* Efeito hover no sublinhado dos links do menu */
.menu ul li a:hover::after {
    width: 100%;
}

/* Estilo do botão de voltar para cima */
#btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 12px 15px;
    font-size: 18px;
    background-color: #2D1E6A;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* Estilo dos títulos h2 */
h2 {
    color: #0a2c66;
    margin-bottom: 20px;
}

/* Estilo do menu do utilizador */
.user-menu {
    position: relative;
}

/* Icon do utilizador */
.user-icon {
    color: white;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}

/* Estilo do menu de sair dq conta*/
.sair-cliente {
    display: none;
    position: absolute;
    right: 0;
    top: 40px;
    background: white;
    min-width: 140px;
    border-radius: 8px;
    overflow: hidden;
    z-index: 1;
}

/* Estilo do texto do nome do cliente */
.sair-cliente p {
    margin: 0;
    padding: 10px;
    background: #2D1E6A;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

/* Estilo do link de sair da conta */
.sair-cliente a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    background: #2D1E6A;
    transition: 0.2s;
}

/* Efeito hover ao passar rato sobre o icone */
.user-menu:hover .sair-cliente {
    display: block;
}