/* Alinha o conteudo no centro*/
.contactos {
    text-align: center;
}

/* Titulo de identificação de qual pagina é esta */
.titulo {
    font-size: 32px;
    margin-bottom: 10px;
    color: #2D1E6A;
}

/* Descrição da página */
.descricao {
    margin-bottom: 40px;
    color: #2D1E6A;
}

/* Area onde tem os formularios e as outras informações */
.area-contactos {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

/* Formulario de contacto */
.contacto-form {
    flex: 1;
    min-width: 300px;
    background: white;
    padding: 25px;
    border-radius: 8px;
}

/* Disponilibilidade dos campos do formulario */
.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
    color: #2D1E6A;
}

/* Estilo do Label */
.campo label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo dos campos de input e textarea */
.campo input {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.campo textarea {
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.campo textarea {
    height: 120px;
    resize: none;
}

/* Estilo do botão de envio */
.contacto-form button {
    width: 100%;
    padding: 12px;
    background-color: #2D1E6A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Efeito de hover no botão */
.contacto-form button:hover {
    background-color: #2D1E6A;
}

/* Informações adicionais de contacto */
.contacto-info {
    flex: 1;
    min-width: 300px;
    background: white;
    padding: 25px;
    border-radius: 8px;
    text-align: left;
}

/* Margem do texto de informacoes adicionais */
.contacto-info p {
    margin: 10px 0;
}

/* Estilo dos icones */
.contacto-info i {
    margin-right: 10px;
    color: #2D1E6A;
}

/* Estilo dos links */
.contacto-info a {
    text-decoration: none;
    color: #2D1E6A;
}

/* Efeito de hover nos links */
.contacto-info a:hover {
    color: #ffc107;
}

/* Estilo dos horarios de funcionamento */
.horario {
    margin-top: 20px;
    color: #2D1E6A;
}

/* Margem no titulo do horario de funcionamento */
.horario h2 {
    margin-bottom: 10px;
}
