.conteudo {
    max-width: 1500px;
    padding-top: 10px;
}

.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.catalogo-item {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    color: black;
    box-shadow: 0 4px 10px darkgray;
    transition: transform 0.3s, box-shadow 0.3s;
}

.catalogo-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.catalogo-item h3 {
    padding: 15px;
    color: #0a2c66;
    font-size: 18px;
}

.catalogo-item p {
    padding: 0 20px 20px;
    color: #0a2c66;
    text-align: justify;
    line-height: 1.6;
}

.catalogo-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.pesquisar {
    display: flex;
    gap: 10px;
    margin: 20px auto;
    max-width: 1190px;
    justify-content: center;
}

.pesquisar input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid lightgray;
}

.pesquisar button {
    padding: 10px 20px;
    border: none;
    background: #2D1E6A;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}