<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cadastrar.css">
    <title>Cadastrar</title>
</head>
<body>
        <div class="caixaCadastrar">
            <h2>Cadastre-se na plataforma da Biblioteca</h2>
            
            <form id="RegistForm">
                <div class="campo">
                    <label>Utilizador:</label>
                    <input type="text" placeholder="Defina um nome de utilizador" required>
                </div>

                <div class="campo">
                    <label>Senha:</label>
                    <input type="password" placeholder="Defina uma senha" required>
                </div>

                <button type="submit" class="btn-entrar">Criar conta</button>
                <a href="login.html">Já tenho conta</a>
            </form>
        </div>
</body>
</html>