<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Contactos - Biblioteca</title>
        <link rel="icon" type="image/png" href="../images/Logo.png">
        <link rel="stylesheet" href="../static/css/base.css">
        <link rel="stylesheet" href="../static/css/contactos.css">
        <link rel="stylesheet" href="../static/css/footer.css">
        <script src="https://kit.fontawesome.com/35842701b4.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <header class="header">
            <nav class="navbar">
                <div class="logo">
                    <a href="index.html">
                        <img src="../images/Logo.png" alt="Logo">
                    </a>
                </div>

                <div class="menu">
                    <ul>
                        <li><a href="index.html">Início</a></li>
                        <li><a href="carrinho.html">Carrinho</a></li>
                        <li><a href="favoritos.html">Favoritos</a></li>
                        <li><a href="promocoes.html">Promoções</a></li>
                        <li><a href="contactos.html" class="ativo">Contacta-nos</a></li>
                        <li><a href="login.html" class="btn-login">Login</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <section class="contactos">
            <h1 class="titulo">Contacta-nos</h1>
            <p class="descricao">Tens alguma dúvida, sugestão ou problema? Fala connosco</p>

            <div class="area-contactos">
                <div class="contacto-form">
                    <h2>Enviar Mensagem</h2>

                    <form>
                        <div class="campo">
                            <label>Nome</label>
                            <input type="text" placeholder="Seu nome">
                        </div>

                        <div class="campo">
                            <label>Email</label>
                            <input type="email" placeholder="Seu email">
                        </div>

                        <div class="campo">
                            <label>Mensagem</label>
                            <textarea placeholder="Escreva sua mensagem"></textarea>
                        </div>

                        <button type="submit">Enviar</button>
                    </form>
                </div>

                <div class="contacto-info">
                    <h2>Informações Adicionais</h2>

                    <p><a href="https://www.google.com/maps?q=Mindelo,São+Vicente" target="_blank"><i class="fa-solid fa-location-dot"></i> Mindelo, São Vicente</a></p>
                    <p><a href="tel:+2389959295"><i class="fa-solid fa-phone"></i> +238 995 9295</a></p>
                    <p><a href="mailto:biblioteca@gmail.com"><i class="fa-solid fa-envelope"></i> biblioteca@gmail.com</a></p>
                    <br>
                    <div class="horario">
                        <h2>Horário de Funcionamento</h2>
                        <p><strong>Segunda:</strong> 07:00 - 18:00</p>
                        <p><strong>Terça:</strong> 07:00 - 15:00</p>
                        <p><strong>Quarta:</strong> 09:00 - 12:00</p>
                        <p><strong>Quinta:</strong> 07:00 - 18:00</p>
                        <p><strong>Sexta:</strong> 07:00 - 17:30</p>
                        <p><strong>Sábado:</strong> 10:00 - 13:00</p>
                        <p><strong>Domingo:</strong> Fechado</p>
                    </div>
                </div>
            </div>

        </section>
        <footer class="footer">
            <div class="footer-container">
                <div class="imagem-footer">
                    <a href="index.html">
                        <img src="../images/Logo.png" alt="Logo">
                    </a>
                    <p>BIBLIOTECA DO MINDELO</p>
                </div>

                <div class="info-uteis">
                    <h4>INFORMAÇÕES ÚTEIS</h4>
                    <ul>
                        <li><a href="favoritos.html">Meus Livros Favoritos</a></li>
                        <li><a href="promocoes.html">Promoções</a></li>
                        <li><a href="carrinho.html">Meu Carrinho</a></li>
                        <li><a href="perguntas.html">Perguntas frequentes (FAQ)</a></li>
                    </ul>
                </div>

                <div class="endereco-contactos">
                    <h4>ENDEREÇO & CONTACTOS</h4>
                    <p><a href="https://www.google.com/maps/place/Biblioteca+Municipal+do+Mindelo/@16.8866176,-24.9914655,17z/data=!3m1!4b1!4m6!3m5!1s0x94f1ea8cac2a09f:0xa657bfc8b3d856e2!8m2!3d16.8866125!4d-24.9888906!16s%2Fg%2F1pp2tw4r8?authuser=0&entry=ttu&g_ep=EgoyMDI2MDQyNy4wIKXMDSoASAFQAw%3D%3D" target="_blank">Biblioteca Municipal do Mindelo</a></p>
                    <p><a href="tel:9959295">+9959295</a></p>
                    <p><a href="mailto:biblioteca@gmail.com">biblioteca@gmail.com</a></p>   
                </div>

                <div class="redes-container">
                    <h4>SIGA A BIBLIOTECA NAS REDES SOCIAIS</h4>
                    <div class="redes-sociais">
                        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                    </div>
                </div>

            </div>

            <div class="footer-bottom">
                <p>© 2026 BIBLIOTECA DO MINDELO - Todos os direitos reservados</p>
                <a href="politicas.html">Políticas e Privacidade</a>
            </div>

        </footer>

        <button id="btn-topo">↑</button>
        <script src="../static/javascript/botao.js"></script>

    </body>
</html>