<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/login.css">
        <title>Login</title>
    </head>
    <body>
        <div class="caixaLogin">
            <form id="loginform">
                <h2>Entre na plataforma</h2>
                <div class="campo">
                    <label>Username</label>
                    <input type="text" placeholder="Nome de Utilizador" required>
                </div>
                <div class="campo">
                    <label>Password</label>
                    <input type="password" placeholder="Password do Utilizador" required>
                </div>
                <button type="submit" class="btn-entrar">Iniciar Sessão</button>
                <a href="cadastrar.html">Nao tenho conta</a>
            </form>
        </div>
    </body>
</html>