<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <title>Início - Cliente</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/Logo.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cliente/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/perguntas.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cliente/footer.css') }}">
        <script src="https://kit.fontawesome.com/35842701b4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header">
            <nav class="navbar">
                <div class="logo">
                    <a href="{{ url_for('dashboard_cliente') }}">
                        <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo">
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a href="{{ url_for('dashboard_cliente') }}" class="ativo">Início</a></li>
                        <li><a href="{{ url_for('carrinho') }}">Carrinho</a></li>
                        <li><a href="{{ url_for('favoritos') }}">Favoritos</a></li>
                        <li><a href="{{ url_for('promocoes') }}">Promoções</a></li>
                        <li><a href="{{ url_for('contactos') }}">Contacta-nos</a></li>
                        <li class="user-menu">
                            <a href="#" class="user-icon">
                                <i class="fa-solid fa-user"></i>
                            </a>
                            <div class="sair-cliente">
                                <p class="user-name">{{ session['nome'] }}</p>
                                <a href="{{ url_for('logout') }}">Sair da conta</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <div class="faq">
            <h3 class="pergunta">Pergunta</h3>
            <p class="resposta">Resposta</p>
        </div>
    </body>
</html>